 body{
    background-image: url('../images/blackShapes.jpg');
 }

img{
      max-width: 200px;
      border: 2px solid black;
      margin: 20px;
    }

#gifForm {
	float: right;
}

input, button, select, textarea {
 
    display: inherit;
}

label {
    color: #22b24c;
  }

  h1, .h1 {
    color: #22b24c;
}

.header{
      display: inline-flex;
}